<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="/main.js"></script>
</head>
<body>
  <div class="container">
    <div class="title-block">
      <span>{{name}}</span>
    </div>
    <div class="vc-block" style="background-color: {{channel.colour}}">
      {{#if channel.connected}}
        <span>Connected to: {{channel.name}}</span>
      {{else}}
        <span>Not connected to a voice channel</span>
      {{/if}}
    </div>
    {{#if channel.connected}}
      <div class="search-block">
        <input onkeypress="checkEnter(event)" id="search-identifier" type="text" placeholder="Search for a song...">
        <button onclick="search()">Search</button>
      </div>
    {{/if}}
    <div class="results" id="results-list"></div>
    <div class="track-list">
      <span>Track List ({{queue.length}} tracks)</span>
      {{#each queue}}
        <span>{{title}}</span>
      {{/each}}
    </div>
  </div>
  <div class="current-track">
    <div class="progress-bar" style="width: {{current.progressPc}}%"></div>
    <img src="https://i.ytimg.com/vi/{{current.id}}/default.jpg">
    <span id="title"><a href="{{current.link}}">{{current.title}}</a></span>
    <span id="duration">{{current.duration}}</span>
  </div>
</body>
